header {
  background-color: var(--atm-color-background);
}

header > nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

header > nav > a > img {
  height: 35px;
}

header > nav > ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

header > nav > ul > li > button {
  background: none;
  border: none;
}

header > nav > ul > li > button > img {
  width: 40px;
  filter: invert(90%);
}
